<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>Mail</title>
    <style>
        body, html{
            background-color: #dedede;
        }
        *{
            font-family: 'Open Sans', sans-serif;
            color: #2f2e41;
        }
        body>div>div>p{
            z-index: 2;
        }
        #task-list>li{
            padding-bottom: 15px;
        }
    </style>

</head>
<body>
    <div style="padding: 20px;box-sizing: border-box;width: 60%;margin-left: auto;position: relative;margin-right: auto;background-color: #f1f1f1;box-shadow: 0 0px 10px 0px rgb(169 169 169);border-radius: 15px;">
        <p style="text-align: center;padding-bottom: 10px;border-bottom: 5px solid #b6b5be;">
            <span style="font-size: 2.75em;font-weight: 600;">Witaj</span>
        </p>
        <p style="font-size: .75em;">Raport dzienny</p>
        <p style="position: relative;padding-bottom: 15px;text-align:center;" th:unless="${taskExists}">
            Brak dostępnych zadań w bazie danych
        </p>
        <p style="position: relative;padding-bottom: 15px;" th:if="${taskExists}">
            <span style="float: left;">Obecna ilość zadań występująca w bazie danych: </span>
            <span style="float: right;" th:text="${fetchedTasks.size()}"></span>
        </p>
        <p style="clear: both;text-align: center;padding-bottom: 15px;" th:if="${taskExists}">
            <span style="float: left;">Lista zadań:</span>
        </p>
        <ul id="task-list" style="clear: both;list-style-type: none;" th:if="${taskExists}" th:each="function:${fetchedTasks}">
            <li><sup th:text="${function.getId()}"></sup><span th:text="${function.getTitle()}"></span>
                <ul style="list-style-type:none;">
                    <li th:text="${function.getContent()}"></li>
                </ul>
            </li>
        </ul>
        <img alt="scrum_board" src="undraw_Scrum_board_re_wk7v.svg" style="width: 50%;margin-left: 50%;">
        <p style="margin-block-end: 0;margin-block-start: 3em;font-size:.45em;text-align: center;">
            <span th:text="${companyConfig.getCompanyName()} + ', ' + ${companyConfig.getAppAddressStreet()} + ' ' + ${companyConfig.getAppAddressNumber()} + ', ' + ${companyConfig.getCompanyEmail()}"></span>
        </p>
    </div>
</body>
</html>